#container{
    width: 980px;
    margin: 0 auto;
    font-size: 20px;
}
#header{
    width: 700px;
    float: right;
}
#sidebar{
    width: 200px;
    float: left;
    line-height: 40px;
}
#content{
    width: 700px;
    float: right;
    margin-top: 30px;
}
#footer{
    text-align: center;
    clear: both;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li{
    display: inline;
}
header li a{
    text-decoration:none;
    padding: 8px;
    color: #C0C0C0;
}
header li a first{
    color: black;
    border-bottom: solid 3px #87CEFA;
}

sidebar ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

sidebar li a{
    text-decoration:none;
    padding: 8px;
    color: black;
    margin: 20px;
}

sidebar ul p{
    color: white;
    background-color: #87CEFA;
    border-radius: 20px;
}

